{% extends 'base_iitg_layout.html.twig' %}
{% block title %}| Pré-inscription | Close{% endblock %}
{% block body %}

    <section class="breadcrumb_area">
        <div class="breadcrumb_top">
            <div class="container">
                <div class="row">
                    <div class="breadcrumb_title section-padding">
                        <h2>Pré-inscription</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="breadcrumb_bottom">
            <div class="container">
                <div class="row">
                    <div class="breadcrumb_nav">
                        <div class="col-sm-5">
                            <h2>Pré-inscription</h2>
                        </div>
                        <div class="col-sm-7">
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li>Pré-inscription</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="section_page_iitg_area section-padding">
        <div class="container">

            <div class="row">
                <div class="col-md-10">
                    <div class="send_email">
                        <div class="section-padding">
                            <div class="email_form">
                                <h1>Pré inscription est fermée</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}