{% extends 'BaseAdmin.html.twig' %}

{% block title %}Edit Filiere{% endblock %}

{% block body %}
    <h1>Edit Filiere</h1>

    {{ include('iitg_admin/filiere/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_iitg_admin_filiere_index') }}">back to list</a>

    {{ include('iitg_admin/filiere/_delete_form.html.twig') }}
{% endblock %}
