{% extends 'BaseAdmin.html.twig' %}

{% block title %}Edit TypePost{% endblock %}

{% block body %}
    <h1>Edit TypePost</h1>

    {{ include('iitg_admin/type_post/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_iitg_admin_type_post_index') }}">back to list</a>

    {{ include('iitg_admin/type_post/_delete_form.html.twig') }}
{% endblock %}
