<div class="footer">
    <div class="copyright">
        <p>© 2023 CSC ADMIN. All rights reserved | Created by <a href="mailto:ahmed.saidani2014@yahoo.com"><span>AH-SD</span></a></p>
    </div>
</div>