{% extends 'BaseAdmin.html.twig' %}

{% block title %}New AcademicYear{% endblock %}

{% block body %}
    <h1>Create new AcademicYear</h1>

    {{ include('iitg_admin/academic_year/_form.html.twig') }}

    <a href="{{ path('app_iitg_admin_academic_year_index') }}">back to list</a>
{% endblock %}
