{% extends 'BaseAdmin.html.twig' %}

{% block title %}Edit FiliereByParcours{% endblock %}

{% block body %}
    <h1>Edit FiliereByParcours</h1>

    {{ include('iitg_admin/filiere_by_parcours/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_iitg_admin_filiere_by_parcours_index') }}">back to list</a>

    {{ include('iitg_admin/filiere_by_parcours/_delete_form.html.twig') }}
{% endblock %}
