{% extends 'BaseAdmin.html.twig' %}

{% block title %}New FiliereByParcours{% endblock %}

{% block body %}
    <h1>Create new FiliereByParcours</h1>

    {{ include('iitg_admin/filiere_by_parcours/_form.html.twig') }}

    <a href="{{ path('app_iitg_admin_filiere_by_parcours_index') }}">back to list</a>
{% endblock %}
