{% extends 'base_iitg_layout.html.twig' %}
{% block title %}| COOPERATION ACADEMIQUE{% endblock %}


{% block body %}

    <section class="breadcrumb_area">
        <div class="breadcrumb_top">
            <div class="container">
                <div class="row">
                    <div class="breadcrumb_title section-padding">
                        <h2>Academic Cooperation</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="breadcrumb_bottom">
            <div class="container">
                <div class="row">
                    <div class="breadcrumb_nav">
                        <div class="col-sm-5">
                            <h2>Academic Cooperation</h2>
                        </div>
                        <div class="col-sm-7">
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li>Academic Cooperation</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="section_page_iitg_area section-padding">
        <div class="container">
            <div class="row">

                <div class="col-md-12">
                    <div class="section_page_iitg_txt">
                        <h1 class="text-center">Coopération Académique</h1>

                        <p>
                            Dans le cadre de son fonctionnement optimal, IITG a fait le choix de s’ouvrir à des partenaires internationaux. Dans cet esprit de la coopération universitaire, IITG a conclu plusieurs partenariats, incluant les structures d’Enseignement Supérieur et de Recherche au Canada, sans y limiter. 
                        </p>
                        <p>
                            A l’échelle nationale, IITG travaille en Collaboration avec :
                        </p>
                        <ul>
                            <li>Le département de Géographie de l’Université Omar BONGO.</li>
                            <li>Le laboratoire de Géomatique, de Recherche Appliquée et de Conseil (LAGRAC) Département des Sciences Géographiques, Environnementales et Marines, Université Omar Bongo.</li>
                            <li>Le Laboratoire d’Analyse Spactial LANASPET.</li>
                        </ul>
                        <p>A l’échelle international IITG a signé des conventionsde partenariat avec : </p>
                        <ul>
                            <li>Entreprise Canadienne : Solutions Galore.</li>
                            <li>Entreprise Multinationale, avec siège principale au Canada : BIOPED.</li>
                            <li>Centre de Recherche Canadien : EMAT.</li>
                            <li>Centre de Formation Tunisien : SEPTRUM.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}
