{% extends 'base_iitg_layout.html.twig' %}
{% block title %}| Admissions{% endblock %}


{% block body %}

    <section class="breadcrumb_area">
        <div class="breadcrumb_top">
            <div class="container">
                <div class="row">
                    <div class="breadcrumb_title section-padding">
                        <h2>Admissions</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="breadcrumb_bottom">
            <div class="container">
                <div class="row">
                    <div class="breadcrumb_nav">
                        <div class="col-sm-5">
                            <h2>Admissions</h2>
                        </div>
                        <div class="col-sm-7">
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li>Admissions</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="section_page_iitg_area section-padding">
        <div class="container">
            <div class="row">

                <div class="col-md-12">
                    <div class="section_page_iitg_txt">
                        <h1 class="text-center">Admissions</h1>

                       
                        <ul>
                            <li>Dossier de candidature</li>
                            <li>Procédure et frais de scolarité</li>
                            <li>Prescription en Ligne</li>
                            <li>Inscription en Ligne</li>
                            <li>Calendier pédagogique</li>
                        </ul>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}
