{% extends 'layout.html.twig' %}
{% block title %}{{ parent() }} | IITG{% endblock %}

{% block titlePage %}INTERNATIONAL INSTITUTE OF TECHNOLOGY AND MANAGEMENT{% endblock %}
{% block descriptionPage %}The International Institute of Technology and Management (IITG) is a private institution of Higher Education.{% endblock %}
{% block body %}

    <div class="row">
        <div class="col-md-12">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#about_us_iitg_en">About us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="#programs_iitg_en">Programs</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="#services_iitg_en">Services</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="#">News</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="#">Job opportunities</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="#contact">Contact us</a>
                            </li>

                        </ul>
                        <span>
                            <a class="buy-tickets scrollto" href="{{ path('app_iitg') }}">French article</a>
                        </span>

                    </div>
                </div>
            </nav>

        </div>
    </div><br/><br/>
    <div class="row">

        <div class="col-md-12">
            <div class="details" id="about_us_iitg_en">
                <h2>Who are we?</h2>
                <p>The International Institute of Technology and Management (IITG) is a private institution of Higher Education.  Founded in September 2022 by two partners, the institute is aligned with the guidelines of sub-regional university institutions, as well as national and international standards relating to Higher Education. It includes a board of directors and an academic council resulting from its administrative and academic governance.</p>

            </div>

            <div class="details" id="missions_iitg_en">

                <h2>Missions</h2>
                <p>IITG's main mission is to contribute to the development of a society essentially focused on Skills and Knowledge. Thus, the professional and innovative training it offers aims at making learners competitive, in an increasingly globalizing universe.</p>

            </div>

            <div class="details" id="vision_iitg_en">
                <h2>Vision</h2>
                <p>IITG is committed to developing in learners educational and professional ethics, critical thinking, analytical and problem-solving skills, creativity, innovation and leadership.</p>
            </div>

            <div class="details" id="objectifs_iitg_en">
                <h2>Objectives</h2>
                <ol>
                    <li>Provide quality training;</li>
                    <li>Opening up employment opportunities for young people;</li>
                    <li>Opening up employment opportunities for young people;</li>
                    <li>Provide training, education, research and development services nationally and internationally.</li>
                </ol>
            </div>

            <div class="details" id="commitments_iitg_en">

                <h2>Commitments:</h2>

                <p>IITG is committed to its mission by aiming at the following objectives:</p>
                <ol>
                    <li>Offer excellent academic programs in selected areas;</li>
                    <li>Attract qualified faculty and staff and provide them with a safe and supportive work environment;</li>
                    <li>Produce independent, confident, autonomous and persevering graduates/professionals to achieve their personal goals.</li>
                    <li>To prepare career-oriented graduates/professionals who are innovators, critical thinkers and long-term learners.</li>
                    <li>To produce graduates/professionals who are socially responsible, receptive to the changing needs of the community and respectful of noble local and global values.</li>
                    <li>Encourage research and development efforts and link them to the needs of the community and society.</li>
                </ol>
            </div>

            <div class="details" id="services_iitg_en">

                <h2>Services</h2>
                <ol>
                    <li>Higher education (License degree, Master degree);</li>
                    <li>Co-degrees and certificates with international partners (Tunisia, Canada, Gabon, Turkey, UK, Libya)</li>
                    <li>Development of new skills ;</li>
                    <li>Professional retraining ;</li>
                    <li>Rehabilitation ;</li>
                    <li>Training of trainers ;</li>
                    <li>Aid in finding jobs ;</li>
                    <li>Quality control in the sectors: school, academic and vocational training</li>
                    <li>Research and development: IoT applied to agriculture, IoT applied to health and the environment, EEG signals, ...</li>
                    <li>Preparation for the university.</li>

                </ol>
            </div>

            <div class="details" id="partenaires_iitg_en">
                <h2>Partners/Collaborators</h2>

                <ul>
                    <li>Canadian Company: Galore Solutions;</li>
                    <li>Multinational Company, with headquarters in Canada: BIOPEP;</li>
                    <li>Institute Elite in Montreal, Canada</li>
                    <li>Canadian Research Centre: EMAT;</li>
                    <li>Tunisian Training Center: SEPTRUM;</li>
                    <li>IASA in Turkey.</li>

                </ul>
            </div>
            <div class="details" id="programs_iitg_en">
                <h2>Programs</h2>

                <h5>Professional License</h5>
                <ul>
                    <li>Health Management</li>
                    <li>Logistics and transport management</li>
                    <li>Artificial Intelligence and IT Management </li>
                    <li>Computer networks and telecommunications</li>
                    <li>Accounting and finance</li>

                </ul>


                <h5>Engineering</h5>
                <ul>
                    <li>Computer science and artificial intelligence</li>
                </ul>



                <h5>Master</h5>
                <ul>
                    <li>Business Administration (MBA)</li>
                    <li>Information Technology Management</li>
                    <li>Engineering Management</li>
                    <li>Gas and Oil</li>
                    <li>Accounting, control and auditing</li>
                    <li>Finance</li>
                </ul>

            </div>

        </div>

    </div>

    <!-- CONTACT -->

    <section id="contact" class="section-bg">

        <div class="container" data-aos="fade-up">

            <div class="section-header">
                <h2>Contact Us</h2>
                <p>International Institute of Technology and Management "IITG"</p>
            </div>

            <div class="row contact-info">

                <div class="col-md-3">
                    <div class="contact-address">
                        <i class="bi bi-geo-alt"></i>
                        <h5>Address</h5>
                        <address>Bp : 1989 Libreville-Gabon Commune of Akanda (50 M from okala police station)</address>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="contact-phone">
                        <i class="bi bi-clock-history"></i>
                        <h5>TIMETABLES:</h5>
                        <p>We work from Monday to Sunday from 8:00 am to 7:00 pm</p>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="contact-phone">
                        <i class="bi bi-phone"></i>
                        <h5>TELEPHONE NUMBER:</h5>
                        <p><a href="tel:+2416221360">+241 62 21 36 05</a></p>
                        <p><a href="tel:+24174061446">+241 74 06 14 46</a></p>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="contact-email">
                        <i class="bi bi-envelope"></i>
                        <h5>EMAIL:</h5>
                        <p><a href="mailto:institutinternational22@gmail.com">institutinternational22@gmail.com</a></p>
                    </div>
                </div>

            </div>


        </div>
    </section>
{% endblock %}
