{% extends 'layout.html.twig' %}
{% block title %} | IITG{% endblock %}

{% block page %}
    
    
    <section class="page-header">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="page-header-content">
                    <h1>INSTITUT INTERNATIONAL DE TECHNOLOGIE ET DE GESTION</h1>
                    <h2>L’Institut International de Technologie et de Gestion (IITG) est un établissement privé d’Enseignement Supérieur.</h2>
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item">
                            <a href="{{ path('spectrum_default') }}">Home</a>
                        </li>
                        <li class="list-inline-item">/</li>
                        <li class="list-inline-item">
                            IITG
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
    
 <section class="contact-info section-padding">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-12">
                
    <div class="row">
        <div class="col-md-12">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#about_us_iitg_fr">À propos de nous</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="#programs_iitg_fr">Programmes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="#services_iitg_fr">Services</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="#">Nouvelles</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="#">Emplois</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="#contact">Nous contacter</a>
                            </li>

                        </ul>
                        <span>
                            <a class="buy-tickets scrollto" href="{{ path('app_iitg',{'lg':'en'}) }}">Article en Anglais</a>
                        </span>

                    </div>
                </div>
            </nav>

        </div>
    </div><br/><br/>
    <div class="row">

        <div class="col-md-12">
            <div class="details" id="about_us_iitg_fr">
                <h2>Qui sommes-nous ?</h2>
                <p>L’Institut International de Technologie et de Gestion (IITG) est un établissement privé d’Enseignement Supérieur.  Fondé en septembre 2022 par deux partenaires, l’institut s’arrime aux Directives des institutions sous régionales universitaires, ainsi aux normes nationales et internationales relatives à l’Enseignement Supérieur. Il comprend un conseil de direction et un conseil académique issues de sa gouvernance administrative et académique. </p>
            </div>

            <div class="details" id="missions_iitg_fr">
                <h2>Missions</h2>
                <p>IITG se donne pour mission principale de contribuer au développement d’une société tournée essentiellement vers la Compétence et la Connaissance. Ainsi, les formations professionnelles et innovantes qu’il propose visent à rendre les apprenants compétitifs, dans un univers de plus en plus globalisant.</p>
            </div>

            <div class="details" id="vision_iitg_fr">
                <h2>Vision</h2>
                <p>IITG s'engage à développer chez les apprenants l'esprit éthique éducatif et professionnel, la pensée critique, les compétences analytiques et de résolution de problèmes, la créativité, l'innovation et le leadership.</p>
            </div>

            <div class="details" id="objectifs_iitg_fr">
                <h2>Objectifs</h2>
                <ol>
                    <li>Offrir une formation de qualité;</li>
                    <li>Ouvrir des perspectives d’emploi aux jeunes ;</li>
                    <li>Attirer des investisseurs internationaux pour investir dans production des connaissances ;et de développement des compétences;</li>
                    <li>Offrir des services de formation, d’éducation, de recherche et de développement à l’échelle nationale et internationale.</li>
                </ol>
            </div>

            <div class="details" id="engagements_iitg_fr">

                <h2>Engagements</h2>

                <p>IITG exprime ses engagements envers sa mission en poursuivant les objectifs suivants :</p>
                <ol>
                    <li>Offrir d'excellents programmes de formation dans des domaines sélectionnés;</li>
                    <li>Attirer des professeurs et du personnel qualifiés et leur fournir un environnement de travail sûr et favorable;</li>
                    <li>Produire des diplômés/professionnels indépendants, confiants, autonomes et persévérants pour atteindre leurs objectifs personnels.</li>
                    <li>Pour préparer des diplômés/professionnels axés sur la carrière qui sont des innovateurs et penseurs critiques et des apprenants de longue durée.</li>
                    <li>Former des diplômés/professionnels socialement responsables, réceptifs aux besoins changeants de la communauté et respectueux des nobles valeurs locales et mondiales.</li>
                    <li>Encourager les efforts de recherche/développement et les relier aux besoins de la communauté et de la société.</li>
                </ol>
            </div>

            <div class="details" id="services_iitg_fr">

                <h2>Services</h2>
                <ol>
                    <li>Enseignement supérieur (Licence et Master) ;</li>
                    <li>Formation co-diplômante avec des partenaires internationaux (Tunisie, Canada, Gabon, Grande Bretagne, Libye)</li>
                    <li>Développement de nouvelles compétences ;</li>
                    <li>Reconversion professionnelle ;</li>
                    <li>Réhabilitation ;</li>
                    <li>Formation des formateurs ;</li>
                    <li>Aide à la recherche d’emplois ;</li>
                    <li>Contrôle de qualité dans les secteurs : scolaire, académique et formation professionnelle</li>
                    <li>Recherche et développement : IoT appliqué à l’agriculture, IoT appliqué à la santé et l’environnement, Signaux EEG, …</li>
                    <li>Préparation à l’université.</li>
                </ol>
            </div>

            <div class="details" id="partenaires_iitg_fr">
                <h2>Partenaires/Collaborateurs</h2>

                <ul>
                    <li>Entreprise Canadienne : Solutions Galore ;</li>
                    <li>Entreprise Multinationale, avec siège principale au Canada : BIOPEP ;</li>
                    <li>Institut Élite à Montréal, Canada</li>
                    <li>Centre de Recherche Canadien : EMAT ;</li>
                    <li>Centre de Formation Tunisien : SEPTRUM ;</li>
                    <li>IASA en Turquie.</li>
                </ul>
            </div>
            <div class="details" id="programs_iitg_fr">
                <h2>Les programmes</h2>              
                <h5>Licence Professionnelle</h5>
                <ul>
                    <li>Gestion de la santé</li>
                    <li>Gestion de la logistique et du transport</li>
                    <li>Intelligence artificielle et informatique de gestion</li>
                    <li>Réseaux informatiques et télécommunications</li>
                    <li>Comptabilité et finance</li>
                </ul>


                <h5>Génie</h5>
                <ul>
                    <li>Informatique et intelligence artificielle</li>
                </ul>



                <h5>Master</h5>
                <ul>
                    <li>Administration des affaires</li>
                    <li>Gestion des technologies de l’information</li>
                    <li>Gestion d’ingénierie</li>
                    <li>Gaz et Pétrole</li>
                    <li>Comptabilité, contrôle et audit</li>
                    <li>Finance</li>
                </ul>

            </div>

        </div>

    </div>

    <!-- CONTACT -->

    <section id="contact" class="section-bg">

        <div class="container" data-aos="fade-up">

            <div class="section-header">
                <h2>Nous contacter</h2>
                <p>Institut International de Technologie et de Gestion « IITG »</p>
            </div>

            <div class="row contact-info">

                <div class="col-md-3">
                    <div class="contact-address">
                        <i class="bi bi-geo-alt"></i>
                        <h5>Addresse</h5>
                        <address>Bp : 1989 Libreville-Gabon Commune d’Akanda (50 M du Commissariat d’Okala)</address>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="contact-phone">
                        <i class="bi bi-clock-history"></i>
                        <h5>HORAIRES:</h5>
                        <p>Nous travaillons du lundi à dimanche de 8h00 à 19h00</p>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="contact-phone">
                        <i class="bi bi-phone"></i>
                        <h5>NUMERO DE TELEPHONE :</h5>
                        <p><a href="tel:+2416221360">+241 62 21 36 05</a></p>
                        <p><a href="tel:+24174061446">+241 74 06 14 46</a></p>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="contact-email">
                        <i class="bi bi-envelope"></i>
                        <h5>COURRIEL:</h5>
                        <p><a href="mailto:institutinternational22@gmail.com">institutinternational22@gmail.com</a></p>
                    </div>
                </div>

            </div>


        </div>
    </section>
                
            </div>
        </div>
    </div>
 </section>
    

{% endblock %}
