{% extends 'base_iitg_layout.html.twig' %}
{% block title %}| Missions Et Objectifs{% endblock %}


{% block body %}
    <section class="breadcrumb_area">
        <div class="breadcrumb_top">
            <div class="container">
                <div class="row">
                    <div class="breadcrumb_title section-padding">
                        <h2>Missions</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="breadcrumb_bottom">
            <div class="container">
                <div class="row">
                    <div class="breadcrumb_nav">
                        <div class="col-sm-5">
                            <h2>Missions</h2>
                        </div>
                        <div class="col-sm-7">
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li>Missions</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="why_choose_us_area section-padding">
        <div class="container">
            <div class="row">
                       <div class="col-md-5">
                        <div class="why_choose_us_photo">
                            <img src="{{ asset('assets/iitg/') }}img/missions.png" alt="">
                        </div>
                    </div>
                <div class="col-md-7">
                    <div class="why_choose_us_txt">
                        <h1>MISSIONS ET OBJECTIFS</h1>

                        <p>
                            S’inscrivant parfaitement dans la vision des Plus Hautes Autorités de doter les administrations et entreprises gabonaises de techniciens et cadres de valeur dans les domaines de Sciences de Gestion et Technologie de l’Information, IITG se donne pour mission principale de contribuer au développement d’une société tournée essentiellement vers la Compétence et la Connaissance. 
                        </p>
                        <p>
                            Ainsi, les formations professionnelles et innovantes qu’il proposées visent à rendre les apprenants compétitifs, dans un univers de plus en plus globalisant. Les objectifs visés sont de : 
                        </p>
                        
                        <p>- Offrir une formation de qualité</p>
                        <p>- Ouvrir des perspectives d’emploi aux jeunes</p>
                        <p>- Offrir des services de formation, d’éducation, de recherche et de développement à l’échelle nationale et internationale</p>
                        <p>- Offrir d'excellents programmes de formation dans des domaines requis</p>
                        <p>- Encourager les efforts de recherche/développement et les relier aux besoins de la communauté et de la société</p>


                    </div>
                </div>
            </div>
        </div>
    </section>

    
{% endblock %}
