

<section class="our_partners section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section_heading">
                    <h1>{% trans %}Key Figures{% endtrans %}</h1>
                    <p>{% trans %}IITG Key Figures{% endtrans %}</p><br/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="counter-box colored"> <i class="fa fa-graduation-cap"></i> <span class="counter">2147</span>
                    <p>{% trans %}Graduates{% endtrans %}</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="counter-box colored"> <i class="fa fa-group"></i> <span class="counter">250</span>
                    <p>{% trans %}Teachers{% endtrans %}</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="counter-box colored"> <i class="fa fa-building-o"></i> <span class="counter">10</span>
                    <p>{% trans %}Departments{% endtrans %}</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="counter-box colored"> <i class="fa fa-user"></i> <span class="counter">120</span>
                    <p>{% trans %}Prof insertion{% endtrans %}</p>
                </div>
            </div>



        </div>

    </div>
</section>