<section class="key_to_success_area">
    <div class="container">
        <div class="row">
            <div class="key_to_success">
                <div class="col-md-7">
                    <div class="key2seccess_txt">
                        <h2>{% trans %}International Institute of Technology and Management{% endtrans %}</h2>
                        <p>{% trans %}IITG is committed to developing in learners educational and professional ethics, critical thinking, analytical and problem-solving skills, creativity, innovation and leadership.{% endtrans %}</p>
                        <a href="#" class="rm_btn">{% trans %}Learn more{% endtrans %}</a>
                        <a href="#" class="rm_btn">{% trans %}apply now{% endtrans %}</a>
                    </div>
                </div>
                <div class="col-md-5 hidden-sm hidden-xs">
                    <div class="key2seccess_photo">
                        <img src="{{ asset('assets/iitg/') }}img/iitg/header_bottom_photo_gabon.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>