
<section class="our_faculties_area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section_heading">
                     <h1>{% trans %}Directions and services{% endtrans %}</h1>
                    <p>{% trans %}Directions and services{% endtrans %}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="all_our_faculties">
                <div class="col-md-3 col-sm-6">
                    <div class="single_our_facult">
                        <div class="sing_our_facult_photo">
                            <img src="{{ asset('assets/iitg/') }}img/iitg/teachers/teacher1.jpg" alt="">
                        </div>
                        <div class="sing_our_facult_txt">
                            <h3>John Vettori</h3>
                            <p>Founder & Principle</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single_our_facult">
                        <div class="sing_our_facult_photo">
                            <img src="{{ asset('assets/iitg/') }}img/iitg/teachers/teacher2.jpg" alt="">
                        </div>
                        <div class="sing_our_facult_txt">
                            <h3>Lucy martin</h3>
                            <p>Vice Principle</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single_our_facult">
                        <div class="sing_our_facult_photo">
                            <img src="{{ asset('assets/iitg/') }}img/iitg/teachers/teacher3.jpg" alt="">
                        </div>
                        <div class="sing_our_facult_txt">
                            <h3>Chris evans</h3>
                            <p>Mathematics Professor</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single_our_facult">
                        <div class="sing_our_facult_photo">
                            <img src="{{ asset('assets/iitg/') }}img/iitg/teachers/teacher4.jpg" alt="">
                        </div>
                        <div class="sing_our_facult_txt">
                            <h3>Lucy martin</h3>
                            <p>Biology Professor</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
