{% extends 'BaseAdmin.html.twig' %}

{% block title %}Edit Parcours{% endblock %}

{% block body %}
    <h1>Edit Parcours</h1>

    {{ include('iitg_admin/parcours/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_iitg_admin_parcours_index') }}">back to list</a>

    {{ include('iitg_admin/parcours/_delete_form.html.twig') }}
{% endblock %}
