{% extends 'base.html.twig' %}

{% block title %}New Phone{% endblock %}

{% block body %}
    <h1>Create new Phone</h1>

    {{ include('iitg_admin/phone/_form.html.twig') }}

    <a href="{{ path('app_iitg_admin_phone_index') }}">back to list</a>
{% endblock %}
